### Spark Exercises

Within your `codeup-data-science` directory, create a new repo named `spark-exercises`. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your `spark-exercises` repo. Then add, commit, and push your changes.

Create a jupyter notebook or python script named `spark101` for this exercise.

In [127]:
import pyspark
import pandas as pd
import numpy as np
from pydataset import data
from pyspark.sql.functions import col, expr
#from pyspark.sql.functions import concat, su, avg, min, max, count, mean
from pyspark.sql.functions import lit
from pyspark.sql.functions import regexp_extract, regexp_replace
from pyspark.sql.functions import when
from pyspark.sql.functions import asc, desc
from pyspark.sql.functions import month, year, quarter
from pyspark.sql.functions import *
from vega_datasets import data

1. Create a spark data frame that contains your favorite programming languages.

    - The name of the column should be `language`
    - View the schema of the dataframe
    - Output the shape of the dataframe
    - Show the first 5 records in the dataframe

In [4]:
np.random.seed(456)

pl_df = pd.DataFrame(np.random.choice(['python', 'sql', 'java', 'c', 'r'], 20))
pl_df.columns = ['language']
spark = pyspark.sql.SparkSession.builder.getOrCreate()
df = spark.createDataFrame(pl_df)
df

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/davidrodriguez/anaconda3/lib/python3.7/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/11 13:48:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/02/11 13:48:13 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

DataFrame[language: string]

In [6]:
df.printSchema()

root
 |-- language: string (nullable = true)

In [8]:
print('DataFrame shape: ', df.count(), ' x ', len(df.columns))

DataFrame shape:  20  x  1

In [9]:
df.show(5)

+--------+
|language|
+--------+
|       c|
|       c|
|     sql|
|    java|
|       r|
+--------+
only showing top 5 rows

2. Load the `mpg` dataset as a spark dataframe.

    a. For each vehicle, create 1 column of output that contains a message like the one below:
    
   > - The 1999 audi a4 has a 4 cylinder engine.
   
    b. Transform the `trans` column so that it only contains either `manual` or `auto`.

In [10]:
mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [24]:
desc_column = mpg.select(concat(lit('The '),mpg.year, lit(' '), mpg.manufacturer, lit(' '), mpg.model, lit(' has a '), mpg.cyl, lit(' cylinder engine.')).alias('description'))

In [25]:
desc_column.show(5, truncate = False)

+-----------------------------------------+
|description                              |
+-----------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.|
|The 1999 audi a4 has a 4 cylinder engine.|
|The 2008 audi a4 has a 4 cylinder engine.|
|The 2008 audi a4 has a 4 cylinder engine.|
|The 1999 audi a4 has a 6 cylinder engine.|
+-----------------------------------------+
only showing top 5 rows

In [30]:
mpg.select('trans', regexp_replace('trans', r"\(.+$", "")).show()

+----------+---------------------------------+
|     trans|regexp_replace(trans, \(.+$, , 1)|
+----------+---------------------------------+
|  auto(l5)|                             auto|
|manual(m5)|                           manual|
|manual(m6)|                           manual|
|  auto(av)|                             auto|
|  auto(l5)|                             auto|
|manual(m5)|                           manual|
|  auto(av)|                             auto|
|manual(m5)|                           manual|
|  auto(l5)|                             auto|
|manual(m6)|                           manual|
|  auto(s6)|                             auto|
|  auto(l5)|                             auto|
|manual(m5)|                           manual|
|  auto(s6)|                             auto|
|manual(m6)|                           manual|
|  auto(l5)|                             auto|
|  auto(s6)|                             auto|
|  auto(s6)|                             auto|
|  auto(l4)|                             auto|
|  auto(l4)|                             auto|
+----------+---------------------------------+
only showing top 20 rows

3. Load the `tips` dataset as a spark dataframe.

 a. What percentage of observations are smokers?

 b. Create a column that contains the tip percentage

 c. Calculate the average tip percentage for each combination of sex and smoker.

In [32]:
tips = spark.createDataFrame(data("tips"))
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [33]:
print('DataFrame shape: ', tips.count(), ' x ', len(tips.columns))

DataFrame shape:  244  x  7

In [96]:
tips.groupBy(tips.smoker).count().withColumn('percentage', concat(round(col('count') / tips.count() * 100, 2), lit(' %'))).show()

+------+-----+----------+
|smoker|count|percentage|
+------+-----+----------+
|    No|  151|   61.89 %|
|   Yes|   93|   38.11 %|
+------+-----+----------+

In [97]:
tips.withColumn('tip_percentage', concat(round(tips.tip / tips.total_bill * 100, 2), lit(' %'))).show()

+----------+----+------+------+---+------+----+--------------+
|total_bill| tip|   sex|smoker|day|  time|size|tip_percentage|
+----------+----+------+------+---+------+----+--------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        5.94 %|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|       16.05 %|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|       16.66 %|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|       13.98 %|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|       14.68 %|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|       18.62 %|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|       22.81 %|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|       11.61 %|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|       13.03 %|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|       21.85 %|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|       16.65 %|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|       14.18 %|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|       10.18 %|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|       16.28 %|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|       20.36 %|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|       18.16 %|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|       16.17 %|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|       22.77 %|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|       20.62 %|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|       16.22 %|
+----------+----+------+------+---+------+----+--------------+
only showing top 20 rows

In [109]:
tips.withColumn('tip_percentage', col('tip') / col('total_bill')).groupBy('sex').pivot('smoker').agg(mean('tip_percentage')).show()

+------+------------------+-------------------+
|   sex|                No|                Yes|
+------+------------------+-------------------+
|Female|0.1569209707691836|0.18215035269941035|
|  Male|0.1606687151291298| 0.1527711752024851|
+------+------------------+-------------------+

In [125]:
tips.withColumn('tip_percentage', col('tip') / col('total_bill') * 100).groupBy('sex').pivot('smoker').agg(mean('tip_percentage')).show()

+------+-----------------+------------------+
|   sex|               No|               Yes|
+------+-----------------+------------------+
|Female|15.69209707691836| 18.21503526994103|
|  Male|16.06687151291298|15.277117520248511|
+------+-----------------+------------------+

4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

 - Convert the temperatures to fahrenheit.
 - Which month has the most rain, on average?
 - Which year was the windiest?
 - What is the most frequent type of weather in January?
 - What is the average high and low temperature on sunny days in July in 2013 and 2014?
 - What percentage of days were rainy in q3 of 2015?
 - For each year, find what percentage of days it rained (had non-zero precipitation).

In [128]:
weather = data.seattle_weather().assign(date = lambda df: df.date.astype(str))
weather = spark.createDataFrame(weather)
weather.show(6)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 6 rows

22/02/11 17:21:30 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 539493 ms exceeds timeout 120000 ms
22/02/11 17:21:30 WARN SparkContext: Killing executors is not supported by current scheduler.

In [134]:
weather.select((weather.temp_max * (9/5) + 32).alias('temp_max_c'), (weather.temp_min * (9/5) + 32).alias('temp_min_c')).show(5)

+------------------+----------+
|        temp_max_c|temp_min_c|
+------------------+----------+
|55.040000000000006|      41.0|
|             51.08|     37.04|
|             53.06|     44.96|
|             53.96|     42.08|
|48.019999999999996|     37.04|
+------------------+----------+
only showing top 5 rows

In [ ]:
#F = C(9/5) + 32